body{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  z-index:-1;

}

.scrollspy{
  width: 90%;
  float: right;
}

.First-page{
  position: relative;
  height: 100vh;
  width: auto;
  text-align: center;
  overflow: hidden;
  background-image: url("../img/tunnel-min.jpg");
  background-size: cover;
  background-repeat: no-repeat;

}

.First-page .info{
  text-align: center;
  font-size: 5vh;
  font-weight: 200;
  font-style: normal;
  position: absolute;
  color: white;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.First-page h1{
  text-align: center;
  width: 100%;
  font-family: 'Lato', sans-serif;
  font-size: 8vh;
  font-weight: 100;
  letter-spacing: 2px;
  font-style: normal;
  position: absolute;
  color: white;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);

}

/*  */
.seperator{
  height: 20vh;
  background-color: #3c3c3e;
  border: #f59679;
  border-style: solid;
  border-width: 1px 0px 1px 0px;

}

.seperator h1{
  text-align: center;
  color: #f59679;
  font-family: 'Lato', sans-serif;
  font-size: 5.5vh;
  font-weight: 200;
  letter-spacing: 2px;
  width: 100%;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
}
/*  */
.Second-page{
  width: auto;
  margin: auto;
  overflow: auto;
}

.col-md-6{
  padding: 0 !important;
}
.left{
  float: left;
}
.right{
  float: right;
}

.mesh-img{
  height: 33vh;
  overflow: hidden;
  margin:auto;
  vertical-align: top;
}

.mesh-img img{
  width: 101%;
  height: auto;
  display: block;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
}

.mesh-text{
  background-color: #3c3c3e;
  height: 33vh;
}

.mesh-text h2{
  color: #f59679;
  text-align: center;
  font-size: 2.5rem;
  margin-top: 10%;
  letter-spacing: 2px;
  font-weight: 100;
}

.mesh-text p {
  color: #f59679;
  text-align: center;
  font-size: 1.75rem;
  margin-top: 4%;
  margin: 1%;
  font-weight: 200;
  letter-spacing: 3px;
}


.mesh-text h2{
  color: #f59679;
  text-align: center;
  font-size: 2.5rem;
  margin-top: 10%;
  letter-spacing: 2px;
  font-weight: 200;
}

.mesh-text p {
  color: white;
  text-align: center;
  font-size: 1.75rem;
  margin-top: 4%;
  margin: 1%;
}
.row{
  height: 33vh;
}
.container{
  max-width: 100%;
}

/*  */

.list-group {
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 1;
  width: 10%;
  height: 100vh;
  background: #3c3c3e;
  justify-content: space-around;
  letter-spacing: 3px;
  }

.list-group a{
  text-decoration: none !important;
  color: #e6ded2;
  font-size: 1.2vw;
  font-weight: 100;
  margin-top: 1%;
  width: 100%;
  text-align: center;
  letter-spacing: 3px;
}

.list{

}

.list.active{
  z-index: 2;
  color: #f59679;

}

.list:hover{
  color: grey;
}


@media (max-width: 768px) {
  .list-group{
    display: flex;
    width: 100%;
    position: fixed !important;
    z-index: 1;
    background: #3c3c3e;
    flex-direction: row;
    height: 10vh;
    align-items: center;
  }
  .list-group a{
    font-size: 3.5vh;

  }
  .scrollspy{
    width: 100vw;
  }

  .profile{
    margin: 0.5% !important;
    width: 9vh !important;
    height: 9vh !important;
  }
}

.profile{
  margin: 5%;
  border-radius: 50%;
  height: 9vw;
  width: 9vw;

}
/*  */
.contact{
  height: 100vh;

}
.contact-splitter{
  height: 20vh;
  background-color: #3c3c3e;
  border: #f59679;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
}
.contact-me{
  width: 100%;
  height: 100vh;
  background: #3c3c3e;

}
.contact-me h1{
  color: #f59679;
  font-weight: 200;
  text-align: center;
  letter-spacing: 4px;
  font-size: 3rem;
  font-family: 'Lato', sans-serif;
  top: 50%;
  position: relative;
  -webkit-transform: translateY(-50%);

}

.icons{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  height: 100%;
}
.icon{
  color: #05668D;
  margin-top: 20%;
  margin-bottom: 20%;

}

.icon:hover{
  opacity: 0.7;
}

/*  */

.form{

  width: 50%;
  margin: auto;
  height: auto;
  background:grey;
}

.form h2{
  font-size: 2em;
  color: white;
  text-align: center;
  margin-top: 2%;
  font-weight: 200;
  letter-spacing: 2px;
}

.firstname{
  width: 90%;
  float: right;
  margin-right: 1%;
  margin-top: 2%;

}
.mail{
  width: 90%;
  float: right;
  margin-right: 1%;

}
