body{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  z-index:-1;


}

.First-page{
  position: relative;
  height: 100vh;
  width: auto;
  text-align: center;
  overflow: hidden;
  background-image: url("../img/tunnel-min.jpg");
  background-size: cover;
  background-repeat: no-repeat;

}

.First-page .info{
  text-align: center;
  font-size: 5vh;
  font-weight: 200;
  font-style: normal;
  position: absolute;
  color: white;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.First-page h1{
  text-align: center;
  width: 100%;
  font-size: 8vh;
  font-weight: 200;
  letter-spacing: 2px;
  font-style: normal;
  position: absolute;
  color: white;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);

}

/*  */
.seperator{
  height: 20vh;
  background-color: rgb(60, 60, 62);
  border: rgb(245, 150, 121);
  border-style: solid;
  border-width: 1px 0px 1px 0px;

  /* abdi test */


}

.seperator h1{
  text-align: center;
  color: rgb(245, 150, 121);
  width: 100%;
  font-size: 5.5vh;
  font-weight: 200;
  letter-spacing: 2px;
  margin-top: 3%;

}
/*  */
.Second-page{
  height: 100vh;
  width: auto;
  margin-bottom:  65vh;

}

.col-md-6{
  padding: 0 !important;
}

.mesh-img{
  height: 33%;
  float: left;
  overflow: hidden;
  margin:auto;
  vertical-align: top;


}



.mesh-img img{
  width: 101%;
  height: auto;
  display: block;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
}

.mesh-text{
  background-color: rgb(60, 60, 62);
/* background: linear-gradient(to bottom right, #66784a, #4e5b49);  */
  height: 33%;
  float: left;

}

.mesh-text h2{
  color: rgb(245, 150, 121);
  text-align: center;
  font-size: 2.5rem;
  margin-top: 10%;
  letter-spacing: 2px;
  font-weight: 200;
}

.mesh-text p {
  color: rgb(245, 150, 121);
  text-align: center;
  font-size: 1.75rem;
  margin-top: 4%;
  margin: 1%;
}


.row{
  height: 33vh;
}
.container{
  max-width: 100%;
}

.mesh-text h2{
  color: rgb(245, 150, 121);
  text-align: center;
  font-size: 2.5rem;
  margin-top: 10%;
  letter-spacing: 2px;
  font-weight: 200;
}

.mesh-text p {
  color: rgb(245, 150, 121);
  text-align: center;
  font-size: 1.75rem;
  margin-top: 4%;
  margin: 1%;
}

/*  */
.contact{
  height: 100vh;
}
/*  */

.list-group {

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  top: 50%;
  transform: translate(10%, -10%);
  position: fixed;
  z-index: 1;
  }

.list-group a{
  text-decoration: none !important;
  color: #e6ded2;
  font-size: 1.7vh;
}
@media (min-width: 768px) {
  .list-group a{
    font-size: 3vh;
  }

}
.list{
    display: block;
    padding: .75rem 1.25rem;
    margin-bottom: -1px;
    background-color: inherit;
    font-size: 1.2rem;
    font-weight: 200;

}

.list.active{
  z-index: 2;
  color: #fff;
  background-color: #b89a7f;
  border-color: #080904;
  position: relative;

}

.list-action {
    width: 100%;
    color: #495057;
    text-align: center;
}

@media (max-width: 768px) {
  .list-group{
  margin-top: -22vh;
  top: 0%;
  transform: translate(0%, 0%) !important;
  overflow-y: auto;
  position: sticky !important;
  z-index: 1;
  display: block;
  background: rgb(60, 60, 62);

}
.list-action{
  float: left;
  width: 33%;
}
}
